body{
    font-family: 'Gentium Book Plus', serif; 
}
.donation-interface{
    background-image: url(donation11.jpg);
    height: 100vh;
    width: 200vh;
 background-size: cover;
 background-position: center;
 padding: 0px;
 margin-bottom: 200px;
}

.donation{
    text-align: center;
   padding-top: 150px;
   color: black;
   font-weight: 700px;

}
.donation-btn{
    
    
    padding: 10px 25px;
    border-radius: 10px;
    background-image: linear-gradient(red, orange);
    color: white;
    font-weight: 700;
   
}
.money{
    display: flex;
    justify-content: space-evenly;
}
#color{
    color: coral;
    border: 1px solid;
    padding: 10px 10px;
}
.money-description{
    text-align: center;
    margin-bottom: 15px;
}
.row-style{
    display: flex;
}
.style{
    width: 30%;

   margin-left: 5%;
   margin-right: 2%;
   padding: 2%;
   box-shadow: 5px 5px 5px 5px rgb(76, 73, 73);
}
.style img{
    width: 35%;
    
}
.plan-of-donate{
    padding-top: 120px;
}

