body{
    font-family: 'Gentium Book Plus', serif; 
}
.donation-interface{
    background-image: url(donation11.jpg);
    height: 100vh;
    width: 120%;
 background-size: cover;
 background-position: center;
 padding: 0px;
 margin-bottom: 200px;
 padding-left: 0px;
}

.donation{
    text-align: center;
   padding-top: 150px;
   color: black;
   font-weight: 700px;

}
.donation-btn{
    
    
    padding: 10px 25px;
    border-radius: 10px;
    background-image: linear-gradient(red, orange);
    color: white;
    font-weight: 700;
   
}
.money{
    display: flex;
    justify-content: space-evenly;
}
#color{
    color: coral;
    border: 1px solid;
    padding: 10px 10px;
}
.money-description{
    text-align: center;
    margin-bottom: 10px;
   

}
.row-style{
    display: flex;
}
.style1{
    width: 30%;
    margin-left: 5%;
   margin-right: 2%;
   padding: 2%;
   box-shadow: 5px 5px 5px 5px rgb(76, 73, 73);
   background-color: beige;
}
.style2{
    width: 30%;
    margin-left: 5%;
   margin-right: 2%;
   padding: 2%;
   box-shadow: 5px 5px 5px 5px rgb(76, 73, 73);
   background-color: darkgray;
}
.style3{
    width: 30%;
    margin-left: 5%;
   margin-right: 2%;
   padding: 2%;
   box-shadow: 5px 5px 5px 5px rgb(76, 73, 73);
   background-color: wheat;
}
.position-picture{
    width: 35%;
    
}
.plan-of-donation{
    padding-top: 120px;
    margin-bottom: 200px;
}
.set-position{
    width: 50%;
    padding: 3%;
}
.set-position img{
    width: 80%;
}
.email-box{
    background-color: azure;
    height:35px;
    border: 1px solid;
    border-radius: 15px;
    padding: 10px;
}
.update-portion{
    text-align: center;
    margin-top: 50px;
}
.footer-portion{
    background-color: black;
    color: brown;
    text-align: center;
    margin-top: 100px;